name: Run Program on Push

on:
  push:
    branches:
      - main
  schedule:
    - cron: '30 14 * * *'  # 每天台灣時間 22:30 執行

jobs:
  run_program:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: '3.11'

      - name: Install uv
        run: pipx install uv      

      - name: Install dependencies
        run: |
          uv sync
          uv pip install packaging google-cloud-firestore

      - name: Run your program
        env:
          NEWS: ${{ secrets.NEWS }}
          GROQ_API_KEY: ${{ secrets.GROQ_API_KEY }}
        run: |
          uv run python Together.py
